* {
    margin: 0;
    padding: 0;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background: black; /* Add gradient background */
    font-family: Arial, sans-serif; /* Example font family */
    color: #C3C3C3; /* Example text color */
    z-index: -1;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.canvas-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Adjust opacity for fade effect */
}

.about-content {
    position: absolute;
    top: 0;
    right: 0;
    padding: 40px;
    font-family: "Times New Roman", Times, serif;
    opacity: 0.5; /* Adjust opacity as needed */
    font-size: 36px;
    font-weight: bold;
    z-index: -5;
}

#neural-network {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Ensure canvas is above background */
    opacity: 0.5; /* Adjust opacity as needed */
}

.navigation {
    list-style-type: none;
    position: relative;
    z-index: 2; /* Set a very high z-index value */
}

.navigation li {
    display: inline-block;
    margin-right: 20px;
}

.navigation li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.social-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 400px;
    left: 20px;
    z-index: 2; /* Ensure the social icons are behind the navigation */
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 2px solid white ;
    border-radius: 5px;
    text-align: center; /* Center text */
    font-size: 20px;
    color: white; 
}
.social-icons a {
    margin-bottom: 10px; /* Space between icons */
}

.social-icons img {
    width: 50px; /* Adjust as needed */
    height: auto;
}

/* Spacer to push the content below the header */
.spacer {
    height: 100px; /* Adjust as needed */
}


.logo-container {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: -250px; /* Position at the bottom */
    left: 90%; /* Position at the left */
    transform: translateX(-50%); /* Center horizontally */
    z-index: 0; /* Ensure the logo is above other content */
}

.logo-container img {
    max-width: 80%; /* Adjust the size of the logo as needed */
    max-height:80%; /* Adjust the size of the logo as needed */
}

@media screen and (max-width: 800px) {   
    .content {
        font-size: 16px; /* Adjust font size for smaller screens */
    }
}

@media screen and (max-width: 600px) {
    .social-icons {
        position: fixed;
        top: 400px;
        left: 20px;
        width: 20%;
        height: 20%;
    }

    .social-icons img {
        width: 70%; /* Adjust image width as needed */
        height: 70%; /* Adjust image height as needed */
    }

    .social-icons a {
        margin-bottom: -20px; /* Space between icons */
    }

    .content {
        position: fixed;
        top: 50%;
        left: 50%;
        padding: 20px;
        font-size: 14px; /* Adjust font size for smaller screens */
        width: 50%;
    }

    .about-content {
        position: fixed;
        top: 0;
        right: 0;
        padding: 50px;
        font-size: 35px; 
    }

    #neural-network {
        opacity: 0.5;
    }

    .navigation {
        font-size: 12px;
    }
}

@media screen and (max-width: 410px) {   
    .content {
        font-size: 11px; /* Adjust font size for smaller screens */
    }

    .social-icons {
        position: fixed;
        top: 400px;
        left: 20px;
        width: 20%;
        height: 20%;
    }

    .social-icons a {
        margin-bottom:5px; /* Space between icons */
    }

    .navigation {
        font-size: 8px;
    }

    .about-content {
        position: fixed;
        top: 0;
        right: 0;
        padding: 40px;
        font-size: 25px; 
    }

    .logo-container {
       
        bottom: -300px; /* Position at the bottom */
        left: 90%; /* Position at the left */}

}